mixin footer()
	footer.footer
		.container
			.row 
				+e.col.col-auto 
					a(href="https://roscuba.ru", target="_blank", rel="noopener noreferrer"): +pic(`logo-1.png`,'',0)
				+e.col.col-auto 
					a(href="https://ruvents.com", target="_blank", rel="noopener noreferrer"): +pic(`logo-2.png`,'',0)
				+e.col.col-auto 
					a(href="https://tass.ru", target="_blank", rel="noopener noreferrer"): +pic(`logo-3.png`,'',0)
				+e.col.col-auto 
					a(href="https://digitexpo.ru", target="_blank", rel="noopener noreferrer"): +pic(`logo-4.png`,'',0)
