mixin footer()
	footer.footer
		.container
			.row 
				+e.col.col-auto 
					+pic(`logo-1.png`,'',0)
				+e.col.col-auto 
					+pic(`logo-2.png`,'',0)
				+e.col.col-auto 
					+pic(`logo-3.png`,'',0)
				+e.col.col-auto 
					+pic(`logo-4.png`,'',0)
