
mixin modal() 
	//  start modals
	mixin modalgal(id)
		+b.modal-win(id=`el-${id}` class=" " style="display: none" )  
			+pic(`${id}.jpg`,'','','../') 
			+e.caption
				block
		// #modal-call
	+modalgal(1)
		p 12 апреля 1961 г.  – 12 апреля 2021 г.
		p Общероссийская общественная организация
		p.mb-0: strong «Российское общество дружбы с Кубой»
		p: a(href="roscuba.ru" target="_blank")  www.roscuba.ru
		p.mb-0: strong Ассоциация планетариев России
		p: a(href="apr.planetariums.ru" target="_blank")  www.apr.planetariums.ru
		p.mb-0: strong RUVENTS
		p: a(href="ruvents.com" target="_blank")  www.ruvents.com 
		p 60-ЛЕТИЮ ПИЛОТИРУЕМОЙ КОСМОНАВТИКИ ПОСВЯЩАЕТСЯ.
		p ПЕРВЫЙ: ГАГАРИН И КУБА
		p На основе фотоальбома «Непобедимые-3. К 85-летию Ю. А. Гагарина», 2019 г., РОДК (фотографии предоставлены информационным агентством ТАСС)
	+modalgal(2)
		p 12 апреля 1961 г.  – 12 апреля 2021 г.
		p Общероссийская общественная организация
		p.mb-0: strong «Российское общество дружбы с Кубой»
		p: a(href="roscuba.ru" target="_blank")  www.roscuba.ru
		p.mb-0: strong Ассоциация планетариев России
		p: a(href="apr.planetariums.ru" target="_blank")  www.apr.planetariums.ru
		p.mb-0: strong RUVENTS
		p: a(href="ruvents.com" target="_blank")  www.ruvents.com 
		p 60-ЛЕТИЮ ПИЛОТИРУЕМОЙ КОСМОНАВТИКИ ПОСВЯЩАЕТСЯ.
		p ПЕРВЫЙ: ГАГАРИН И КУБА
		p На основе фотоальбома «Непобедимые-3. К 85-летию Ю. А. Гагарина», 2019 г., РОДК (фотографии предоставлены информационным агентством ТАСС)
	+modalgal(3)
		p 12 апреля 1961 г.  – 12 апреля 2021 г.
		p Общероссийская общественная организация
		p.mb-0: strong «Российское общество дружбы с Кубой»
		p: a(href="roscuba.ru" target="_blank")  www.roscuba.ru
		p.mb-0: strong Ассоциация планетариев России
		p: a(href="apr.planetariums.ru" target="_blank")  www.apr.planetariums.ru
		p.mb-0: strong RUVENTS
		p: a(href="ruvents.com" target="_blank")  www.ruvents.com 
		p 60-ЛЕТИЮ ПИЛОТИРУЕМОЙ КОСМОНАВТИКИ ПОСВЯЩАЕТСЯ.
		p ПЕРВЫЙ: ГАГАРИН И КУБА
		p На основе фотоальбома «Непобедимые-3. К 85-летию Ю. А. Гагарина», 2019 г., РОДК (фотографии предоставлены информационным агентством ТАСС)
	+modalgal(4)
		p Первый космонавт планеты Юрий Алексеевич Гагарин - с 1961 г. первый кавалер национального ордена Республики Куба «Плайя-Хирон» и в 1964-1968 гг. первый Президент Всесоюзного общества советско-кубинской дружбы (ВОСКД). Под его руководством и при непосредственном участии были определены цели, направления и принципы деятельности Общества, сформированы его структура и кадровый потенциал. Юрий Гагарин, триумфально посетивший около 30 стран, мог возглавить любое общество дружбы. Он выбрал Кубу. 3 визита на Кубу, дружба с легендарными Фиделем Кастро и Эрнесто Че Геварой, встречи с кубинцами, работа в ВОСКД стали яркой страницей его жизни. Российское общество дружбы с Кубой как преемник ВОСКД хранит память о своем первом Президенте и его огромном вкладе в создание основ и традиций советско- и российско-кубинской дружбы.
		p Наш девиз: Solo juntos venceremos! Только вместе победим!
		p С Эрнесто Че Геварой на учредительном собрании ВОСКД в Москве.
		p 11 ноября 1964 года. Авт. В. Мусаэльян
	+modalgal(5)
		p "С Президентом Республики Куба Освальдо Дортикосом и премьер-министром Республики Куба  Фиделем Кастро во время встречи на аэродроме. 
			br 
			| Гавана, 24 июля 1961 г. Автор. В. Соболев"
	+modalgal(6)
		p "Два майора, два команданте. Первая встреча.
			br
			| Гавана, 24 июля 1961 г."
	+modalgal(7)
		p "Гавана встречает первого космонавта планеты. Площадь Революции.
			br
			| 24 июля 1961 г. Авт. В. Соболев"
	+modalgal(8)
		div "Во время посещения военного госпиталя.
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(9)
		div "Встреча с раненым участником боев в районе Плайя-Хирон.
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"

	+modalgal(10)
		div "Встреча с раненым участником боев в районе Плайя-Хирон.
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(11)
		div "«Это же сам Гагарин!».
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(12)
		div Гавана, 26 июля 1961 г.
	+modalgal(13)
		div "«Вот так полетит кубинский космонавт!»
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(14)
		div Гавана, 26 июля 1961 г. Авт. В. Соболев
	+modalgal(15)
		div "Теплая встреча.
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(16)
		div "На трибуне во время празднования 8-й годовщины начала народной революции с Фиделем Кастро и Освальдо Дортикосом. 
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(17)
		div "«Сколько времени ты был в космосе? Почти 2 часа. Засекай время, я буду говорить дольше!»
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(18)
		div Гавана, 26 июля 1961 г.
	+modalgal(19)
		div "На митинге кубино-советской дружбы на площади Революции.
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(20)
		div "Вручение национального ордена «Плайя-Хирон» №1.
		div Гавана, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(21)
		div "Поздравление с награждением орденом «Плайя-Хирон».
		div Гавана. Площадь Революции, 26 июля 1961 г. Авт. В. Соболев"
	+modalgal(22)
		div Гавана. Площадь Революции, 26 июля 1961 г. Авт. В. Соболев
	+modalgal(23)
		div "Митинг на площади Революции.
		div Гавана, 26 июля 1961 г."
	+modalgal(24)
		div "На площади Революции с руководителями Республики Куба и кубинским революционером, историком и географом Антонио Нуньесом Хименесом (в 1962 - 1972 гг. президент Академии наук Кубы, в 1969 - 1972 гг. президент Ассоциации кубино-советской дружбы).
		div Гавана, 26 июля 1961 г."
	+modalgal(25)
		div "С Освальдо Дортикосом, Послом СССР в Республике Куба С. М. Кудрявцевым и Героем Советского Союза (1934 г.), генерал-лейтенантом авиации, руководителем отбора и подготовки первых советских космонавтов Н.П.Каманиным. 
		div Гавана, 25-27 июля 1961 г."
	+modalgal(26)
		div Встреча с Фиделем Кастро. Гавана, 25-27 июля 1961 г.
	+modalgal(27)
		div "Встреча с Освальдо Дортикосом в Президентском дворце.
		div Гавана, 25-27 июля 1961 г. Авт. В. Соболев"
	+modalgal(28)
		div "Встреча с руководителями Кубы в Президентском дворце.
		div Гавана, 25-27 июля 1961 г. Авт. В. Соболев"
	+modalgal(29)
		div "На балконе Президентского дворца.
		div Гавана, 25-27 июля 1961 г."
	+modalgal(30)
		div "Вручение памятного знака в честь кубино-советской дружбы.
		div Гавана, 25-27 июля 1961 г."
	+modalgal(31)
		div Гавана, 25-27 июля 1961 г.
	+modalgal(32)
		div "Автограф первого космонавта.
		div Гавана, 25-27 июля 1961 г."
	+modalgal(33)
		div "Дружеский обмен.
		div Гавана, июль 1961 г."
	+modalgal(34)
		div "Товарищеская встреча.
		div Гавана, июль 1961 г."
	+modalgal(35)
		div "Дружеский обед.
		div Гавана, июль 1961 г."
	+modalgal(36)
		div "Снова на Кубе.
		div Гавана, 10 октября 1963 г."
	+modalgal(37)
		div "Встреча Фиделя Кастро с советскими космонавтами Юрием Гагариным, Павлом Поповичем, Андрияном Николаевым, Германом Титовым, Валерием Быковским. 
		div Москва, Кремль, 1 мая 1964 г. Авт. В. Егоров."
	+modalgal(38)
		div "«Всесоюзное общество советско-кубинской дружбы создано!» С Эрнесто Че Геварой и председателем Союза советских обществ дружбы и культурных связей с зарубежными странами Н. В. Поповой.
		div Москва, 11 ноября 1964 г."
	+modalgal(39)
		div "Встреча в Доме дружбы с народами зарубежных стран с заместителем премьер-министра Республики Куба Раулем Кастро и космонавтом Владимиром Комаровым.
		div Москва, 1965 г. Авт. В. Савостьянов."
	+modalgal(40)
		div "Подписание Плана научного сотрудничества между СССР и Кубой.
		div Москва, 1965 г. Авт. В. Мастюков."
	+modalgal(41)
		div "Открытие вечера в Доме дружбы с народами зарубежных стран, посвященного 4-й годовщине победы кубинского народа на Плайя-Хирон. 
		div Москва, апрель 1965 г. Авт. С. Преображенский."
	+modalgal(42)
		div "Вручение вместе с Послом Республики Куба в СССР Карлосом Оливаресом награды победителю конкурса «Знаете ли вы Кубу?» Зое Соколовой. 
		div Москва, 1966 г. Авт. В. Егоров."
	+modalgal(43)
		div 18 сентября 1980 года сбылось предсказание Юрия Гагарина: на орбиту выведен космический корабль с советско-кубинским экипажем в составе Юрия Романенко и Арнальдо Тамайо Мендесом (с 1999 г.-председатель Ассоциации дружбы Куба-Россия)
	// end modals