mixin sGreeting(title, ...items)
	// start sGreeting
	+b.SECTION.sGreeting.section#sGreeting&attributes(attributes)
		.container
			+b.section-title.section-title--sm
				h2!= title
			+e.wrapper
				.row.align-items-center
					mixin item(data)
						.col-lg-6
							+e.item
								+e.A.link(href=`https://youtu.be/${data.video}`  data-fancybox data-caption!= data.text title!= data.text)
										img.res-i(src=`//img.youtube.com/vi/${data.video}/0.jpg` alt!= data.text)
								+e.caption.text-center!= data.text
					each item in items
						+item(item)
						
	// end sGreeting