mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		
		.container.section
			+e.block
				+e.text-top!= data.toptext
				h1!= data.title
				+e.text!= data.text
			block
						
	// end headerBlock