mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		
		.container.section
			+e.block
				+e.text-top 60-ЛЕТИЮ ПИЛОТИРУЕМОЙ КОСМОНАВТИКИ ПОСВЯЩАЕТСЯ
				h1 ПЕРВЫЙ:<br> ЮРИЙ ГАГАРИН И&nbsp;КУБА
				+e.text На&nbsp;основе фотоальбома &laquo;Непобедимые-3.  К&nbsp;85-летию Ю.&nbsp;А. Гагарина.&raquo;, 2019&nbsp;г. РОДК
			block
						
	// end headerBlock