mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.row.align-item-center 
				.col-xl-6
					+pic("2.jpg")
				.col!= data.text1
			.row.align-item-center 
				.col-xl-6
					+pic("about-1.jpg")
				.col!= data.text2
			.row.align-item-center 
				.col-xl-6
					+pic("about-2.jpg")
				.col!= data.text3
			.row.align-item-center 
				.col-xl-6
					+pic("about-3.jpg")
				.col!= data.text4

	// end sAbout