mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.row.align-item-center 
				.col-xl-6
					+pic("about-1.jpg")
				.col 
					p.strong Первый космонавт планеты Юрий Алексеевич Гагарин&nbsp;&mdash;  с&nbsp;1961&nbsp;г. первый кавалер национального ордена Республики Куба &laquo;Плайя-Хирон&raquo; и&nbsp;в&nbsp;1964-1968&nbsp;гг. первый Президент Всесоюзного общества советско-кубинской дружбы (ВОСКД)
			.row.align-item-center 
				.col-xl-6
					+pic("about-2.jpg")
				.col 
					p.strong Под его руководством и&nbsp;при непосредственном участии были определены цели, направления и&nbsp;принципы деятельности Общества, сформированы его структура и&nbsp;кадровый потенциал. Юрий Гагарин, триумфально посетивший около 30&nbsp;стран, мог возглавить любое общество дружбы. Он&nbsp;выбрал Кубу.&nbsp;3&nbsp;визита на&nbsp;Кубу, дружба с&nbsp;легендарными Фиделем Кастро и&nbsp;Эрнесто Че&nbsp;Геварой, встречи с&nbsp;кубинцами, работа в&nbsp;ВОСКД стали яркой страницей его жизни.
			.row.align-item-center 
				.col-xl-6
					+pic("about-3.jpg")
				.col 
					p.strong Российское общество дружбы с&nbsp;Кубой как преемник ВОСКД хранит память о&nbsp;своем первом Президенте и&nbsp;его огромном вкладе в&nbsp;создание основ и&nbsp;традиций советско- и&nbsp;российско-кубинской дружбы.

	// end sAbout