extends ../layout-lang/main.pug


include ../../blocks/sContent/_sContent.pug
include ../../blocks/sContact/_sContact.pug
include ../../blocks/sAbout/_sAbout.pug
include ../../blocks/sOnline/_sOnline.pug
include ../../blocks/sMap/_sMap.pug
include ../../blocks/sGreeting/_sGreeting.pug
include ../../blocks/sMedia/_sMedia.pug

block variables
	- let  mainPage= null 
	-
		let  bg= null
		let la= "ru"

block title
	- let  title= 'Цифровая выставка: 60-летию пилотируемой космонавтики посвящается'
	title= title
	meta(name="description", content="о чем страница")
	meta(name="keywords" content="выставка, экспо, конференция, мероприятие, событие, цифровой, виртуальный, онлайн, мобильный, интерактивный, регистрация, аккредитация, цифровая выставка, цифровое экспо, цифровая конференция, цифровое мероприятие, цифровое событие, цифровая регистрация, цифровая аккрелитация, цифровые решения, цифровые услуги, цифровые сервисы, цифровая платформа, витруальная выставка, виртуальное экспо, виртуальная конференция, виртуальное мероприятие, вирутальное событие, виртуальная регистрация, виртуальная аккредитация, виртуальные решения, виртуальные услуги, виртуальные сервисы, виртуальная платформа, 3D выставка, 3D экспо, 3D конференция, 3D мероприятие, 3D событие, 3D регистрация, 3D аккредитация, 3D решения, 3D услуги, 3D сервисы, 3D платформа, онлайн выставка, онлайн экспо, онлайн конференция, онлайн мероприятие, онлайн событие, онлайн регистрация, онлайн аккредитация, онлайн решения, онлайн услуги, онлайн сервисы, мобильная регистрация, мобильная аккредитация, интеративные услуги, интерактивные сервисы, интерактивные решения, услуги по регистрации, сервисы по регистрации, решения по регистрации, РУВЕНТС, Рувентс, ЦВЦ, Цифровой Выставочный Центр, онлайн студия, Виртуальный Экспортный Центр, фото, видео, фото событие, фото мероприятие, фотоэкспозиция, фото экспо, фотовыставка, Юрий Гагарин, Гагарин, космонавт, первый космонавт, Руспублика Куба, Куба, Гавана, Площадь Революции, Залив Свиней, космос, первый, первый в космосе, Россия, Российская Федерация, Москва, Восток, Космический корабль Восток, Корабль Восток, Дружба, Российско-Кубинская Дружба, Кубино-Российская Дружба, Фидель Кастро, Рауль Кастро, Фидель, Рауль, Кастро, Че, команданте, Че Гевара, Освальдо Дортикос, 12е апреля, Юбилей, 60-й, 60-й Юбилей, 60-летие, Роскосмос, Мендес, Романенко, Арналдо Тамайо Мендес, Юрий Романенко, РОДК, Российское Общество Дружбы с Кубой, Ассоциация Планетариев России, Планетарий, Российское агентство новостей ТАСС, ТАСС")
	meta(property='og:title' content='Цифровая выставка: 60-летию пилотируемой космонавтики посвящается')
	meta(property='og:site_name' content='Первый: Гагарин и Куба')
	meta(property='og:url' content='https://gagarin2021.ru/')
	meta(property='og:description' content='Первая виртуальная мультиязычная фотовыставка, посвященная многолетней дружбе между Россией и Кубой. 40+ исторических фото, эксклюзивный аудио- и видеоряд о покорении космоса.')
	meta(property='og:image' content='https://gagarin2021.ru/img/@2x/webp/picture-1.webp')
block pagecontent
	-

		let nav= { 
			link1: "Первый",
			link2: "О событии",
			link3: "Выставка",
			link4: "Позравления",
			link5: "Медиа",
			link6: "Где посмотреть",
			}
		let headerBlock = {
			toptext:`60-ЛЕТИЮ ПИЛОТИРУЕМОЙ КОСМОНАВТИКИ ПОСВЯЩАЕТСЯ`,
			title:` ПЕРВЫЙ:<br> ЮРИЙ ГАГАРИН И&nbsp;КУБА`,
			text:`На&nbsp;основе фотоальбома &laquo;Непобедимые-3.  К&nbsp;85-летию Ю.&nbsp;А. Гагарина.&raquo;, 2019&nbsp;г. РОДК`,
			picture1: 'Ю. А. Гагарин',
			picture2: 'Ю. А. Гагарин и Эрнесто «Че» Гевара',
		} 
		let about = {
			text1: `
							<p class="strong">&laquo;Восток&raquo;&nbsp;&mdash; первый космический аппарат, поднявший человека на&nbsp;околоземную орбиту.</p>
							<p>На&nbsp;корабле &laquo;Восток&raquo; 12&nbsp;апреля 1961 года лётчик-космонавт СССР Юрий Алексеевич Гагарин совершил первый в&nbsp;мире полёт в&nbsp;космическое пространство. Старт корабля состоялся с&nbsp;космодрома Байконур (Казахстан) в&nbsp;9&nbsp;часов 7&nbsp;минут московского времени (06:07:00&nbsp;UTC). Корабль выполнил один оборот вокруг Земли и&nbsp;совершил посадку в&nbsp;10&nbsp;часов 55&nbsp;минут (07:55:00&nbsp;UTC) в&nbsp;районе деревни Смеловка Саратовской области (Россия).</p>
							<p>За&nbsp;полетом, который длился знаменитые 108&nbsp;минут, затаив дыхание, следила вся планета, а&nbsp;Гагарин стал первооткрывателем космоса, героем мирового масштаба.</p>
						`,
			text2: `<p class="strong">Первый космонавт планеты Юрий Алексеевич Гагарин&nbsp;—  с&nbsp;1961&nbsp;г. первый кавалер национального ордена Республики Куба «Плайя-Хирон» и&nbsp;в&nbsp;1964-1968&nbsp;гг. первый Президент Всесоюзного общества советско-кубинской дружбы (ВОСКД)</p>`,
			text3: `<p class="strong">Под его руководством и&nbsp;при непосредственном участии были определены цели, направления и&nbsp;принципы деятельности Общества, сформированы его структура и&nbsp;кадровый потенциал. Юрий Гагарин, триумфально посетивший около 30&nbsp;стран, мог возглавить любое общество дружбы. Он&nbsp;выбрал Кубу.&nbsp;3&nbsp;визита на&nbsp;Кубу, дружба с&nbsp;легендарными Фиделем Кастро и&nbsp;Эрнесто Че&nbsp;Геварой, встречи с&nbsp;кубинцами, работа в&nbsp;ВОСКД стали яркой страницей его жизни.</p>`,
			text4: `<p class="strong">Российское общество дружбы с&nbsp;Кубой как преемник ВОСКД хранит память о&nbsp;своем первом Президенте и&nbsp;его огромном вкладе в&nbsp;создание основ и&nbsp;традиций советско- и&nbsp;российско-кубинской дружбы.</p>`,
		}
		let deviz=  'Наш девиз:'
		let deviztext= `Solo juntos venceremos! <br> Только вместе победим!`
		let online={
			title: `ОНЛАЙН <br> ВЫСТАВКА`,
			text: `Фотографии предоставлены информационным агенством ТАСС`,
			link: `Посетить выставку`
		}
		let media={
			title: `МЕДИА`
		}
		//- let greeting=[
		//- 	{title: `ПОЗДРАВЛЕНИЯ`},
		//- 	{img: `1.png`, video: `https://youtu.be/de8osKzq730`, text: `Поздравления от Евгения Теришкиного <br/> должность уважаемого человека в одну строку`},
		//- 	{img: `1.png`, video: `https://youtu.be/de8osKzq730`, text: `Поздравления от Евгения Теришкиного <br/> должность уважаемого человека в одну строку`}
		//- ]

		let map={
			title: `Карта проведения выставки отделениями РОДК`,
		}
	
	#stars
	#stars2 
	#stars3
	//- +mob-mnu()
	+top-nav(nav)
		a.menu-link(href="/ru" ) Ru 
		ul.sub-menu
			li.menu-item
				a.menu-link(href="/en" ) Eng
			li.menu-item
				a.menu-link(href="/esp" ) Esp
	.main-wrapper#main
		+headerBlock(headerBlock)
			+b.picture-block--1
				+pic(`picture-1.jpg`,'','992px','../')
				+e.caption= headerBlock.picture1

			+b.picture-block--2
				+pic(`picture-2.jpg`,'','992px','../')
				+e.caption= headerBlock.picture2
			+b.picture-block--3
				+pic(`picture-3.jpg`,'bg','','../')

		+sAbout(about)
		#trigger1
			.fixed-block
				.container
					p.mb-5= deviz
					h2!= deviztext
		+sOnline(online)
		+sMedia(`Медиа`,
			{img: `1.png`, video: `https://youtu.be/de8osKzq730`, text: `Прибытие Юрия Гагарина в&nbsp;Гавану`},
			{img: `1.png`, video: `https://youtu.be/de8osKzq730`, text: `Первый: Гагарин и&nbsp;Куба`},
			{img: `1.png`, video: `https://youtu.be/de8osKzq730`, text: `Песни тех лет`})
		+sGreeting(`ПОЗДРАВЛЕНИЯ`,
			{img: `1.png`, video: `https://youtu.be/de8osKzq730`, text: `Поздравления от Евгения Теришкиного <br/> должность уважаемого человека в одну строку`},
			{img: `1.png`, video: `https://youtu.be/de8osKzq730`, text: `Поздравления от Евгения Теришкиного <br/> должность уважаемого человека в одну строку`})
		+sMap(map)
	+footer()


	