mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section.py-0#sMap&attributes(attributes)
		.container
			+b.section-title
				h2!= data.title 
		
		+e.map-wrap.map-block#map
			//<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A601b7970bbc13c1ddd1d121ea75739706ae6c8af7672fc8ed1e6cdb44168e08d&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
			<iframe src="https://www.google.com/maps/d/embed?mid=1226xlGosHbwzC07PdXTulWEUXtl7lVJr" width="640" height="480" loading="lazy"></iframe>
		
	// end sMap