mixin sOnline(data)
	// start sOnline
	+b.SECTION.sOnline.section#sOnline&attributes(attributes)
		.container
			+e.inner.bg-wrap
				img(src="img/@2x/webp/sputnik.webp" alt="").sputnic
				//+pic('sputnik.png','',0)
				+pic('online','bg').picture-bg
				h2 ОНЛАЙН <br> ВЫСТАВКА
				+e.link(href="#") Посетить выставку
					+icon("arrow-right")
	// end sOnline